<p id="notice"><%= notice %></p>

<div class="container">


  <div class="row">

    <div class="col-md-3">
      <p class="lead">Recommended Items for you, <%= current_user.name if current_user != nil %> !</p>
      <div class="list-group">
        <% @tags.each do |tage| %>
            <tr>
              <td><%= link_to tage.name, tage , :class=>"list-group-item"%></a></td>
            </tr>
        <% end %>

      </div>
    </div>

    <div class="col-md-9">
      <div class="thumbnail">
        <div class="row carousel-holder">

          <div class="col-md-12">
            <img src="http://placehold.it/800x300" alt="">
            <div class="caption">
              <h4 class="pull-right"></h4>
              <h4><a href="#">Fifth Product</a></h4>
              <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <% @predicted_scores.each do |item| %>
            <% da_item = Item.find_by(name: item[0]) %>
            <% if item[1] >= 3 %>
            <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
              <h4 class="pull-right">
                </h4>
              <h4><a href="#"><%= link_to da_item.name, da_item %></a>
              </h4>
              <p><%= da_item.description %></p>
            </div>
            <div class="ratings">
              <% if da_item.tags != nil %>
                  <% da_item.tags.each do |tag|  %>
                      <td><%= link_to tag.name, tag %> </td>
                  <% end %>
              <% end %>
            </div>
            <div class="ratings">
              <p class="pull-right"><%= da_item.reviews.count %> reviews</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </p>
            </div>
          </div>
        </div>
            <% end %>
        <% end %>


      </div>

    </div>

  </div>

</div>
