<% unless @user.blank? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @user.updated_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% else %>

<h1> Thanks for participating! </h1>
<h3>Have a cute smiley</h3>

	<%=  random = rand(1..10) %>
	<% case random %>
	<% when 1 %>
		⊂(・﹏・⊂)
	<% when 2 %>
		⊂（♡⌂♡）⊃
	<% when 3 %>
		(っ⇀⑃↼)っ
	<% when 4 %>
		(っ⇀`皿′↼)っ
	<% when 5 %>
		(.づσ▿σ)づ.
	<% when 6 %>
		⊂(´・ω・｀⊂)
	<% when 7 %>
		ლ(´ ❥ `ლ)
	<% when 8 %>
		ლ(・﹏・ლ)
	<% when 9 %>
		ʕ　·ᴥ·ʔ
	<% when 10 %>
		(◕‿◕✿)
	<% end %>
<% end %>