<p id="notice"><%= notice %></p>


<div class="container">

  <div class="row">

    <div class="col-md-3" style ="display: none">
      <p class="lead">Shop Name</p>
      <div class="list-group">
        <% @tags.each do |tage| %>
            <tr>
              <td><%= link_to tage.name, tage , :class=>"list-group-item"%></a></td>
            </tr>
        <% end %>

      </div>
    </div>

    <div class="col-md-9">

      <div class="thumbnail">
        <img class="img-responsive" src=<%= @item.picture_url %> width="800px" height="300px"  alt="">
        <div class="caption-full">
          <h4><a href="#"><%= @item.name %></a>
          </h4>
          <p> <%= @item.description %> </p>
          <p>
            <strong>Tags:</strong>
            <% @item.tags.each do |tage| %>
                <tr>
                  <td><%= tage.name %></td>

                </tr>

                <tr>
            <% end %>
            <%= link_to 'Add Tag',items_tag_item_path(@item.name) %>
          </p>
        </div>
        <div class="ratings">

          <p class="pull-right"><%= @item.reviews.count %> reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>

          </p>
        </div>
      </div>

      <div class="well">
        <div class="pull-left"> <h4>User Reviews </h4> </div>
        <div class="text-right">
          <%= link_to new_review_path(@item.name), remote: true do %>
              <button class="btn btn-success">Add a Review</button>
          <%end%>

        </div>
        <hr>
        <div class="row">
          <div id="review-form" style="display:none;" >

          </div>
        </div>
        <hr>
        <% @all_reviews = @item.reviews.each_rel{|r| } %>
        <% @all_reviews.each do |review| %>
        <div class="row">
          <div class="col-md-12">
            <div class="review">
              <input type="hidden" id="input_review" data-stars="<%= review.stars %>"/>
            </div>
            <%= review.from_node.name %>
            <span class="pull-right">
              <% if review.from_node.votes.each_rel.select{ |r| r.to_item == @item.name }.any?  %>
                  <td>Upvoted</td>
              <% else %>
                  <td><%= link_to 'Upvote,',up_vote_path(:current_item => @item.id,:target_user => review.from_node.name) %></td>
              <% end %>
              <% if review.from_node.votes.each_rel.select{ |r| r.to_item == @item.name }.any?  %>
                  <td>Downvoted</td>
              <% else %>
                  <td><%= link_to 'Downvote,',down_vote_path(:current_item => @item.id,:target_user => review.from_node.name) %></td>
              <% end %>
            </span>
            <p><%= review.content %></p>
          </div>
        </div>
        <% end %>
        <hr>



      </div>

    </div>

  </div>

</div>




